# AI Engine
ai-engine/.env
ai-engine/extracted_images/
ai-engine/__pycache__/
ai-engine/venv/
*.json
ai-engine/core/__pycache__

# Java Backend
backend/target/
backend/.idea/
.DS_Store

# Others
*.txt
!ai-engine/prompts/*.txt
test_sample/
extracted_images/

# Models
*.pt